[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
django-extensions = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
beautifulsoup4 = "*"
django-admin-display = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
pylint-common = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
